input.answer-text{
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  text-align: start;
  padding: .3rem;
  border: #a60202 solid .2rem;
  border-radius: .8rem;
  min-height: 1.5rem;

  &:first-child {
    border-color: green;
  }
}



