textarea.question-text{
  min-height: 6rem;
  max-height: 22rem;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  text-align: start;
  padding: .3rem;
  border: #1f3e58 solid .2rem;
  border-radius: .8rem;
}