.link-router {
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;
  padding: .4rem 1.5rem;
  height: 100%;
  color: white;
  text-decoration: none;
  border: #1f3e58 solid .2rem;
  border-radius: .6rem;
  width: 12rem;

  &:hover {
    filter: invert(15%);
  }
  &:active {
    filter: invert(35%);
  }
}